$main-font: 'Cormorant Garamond', serif;
$main-font-size: 35px;

$sub-font: 'Nanum Gothic', sans-serif;
$text-color: #414141;
$alert-color: #cfa102;
$grey-color: #9d9d9c;

$max-box: 1920px;

$button-padding: 20px;
$button-padding-extra: 60px;